/* App.css */

body {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('./media/forback.png');
  /* Update the path accordingly */
  background-size: contain;
  /* Adjust the background-size property */
  background-position: center;
}

.App-header {
  background-color: rgba(40, 44, 52, 0.8);
  /* Background color with some transparency */
  padding: 20px;
  border-radius: 15px;
  /* Adjust the border-radius for more roundness */
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  padding: 14px;
  /* Adjust the padding for more height */
  border: 2px solid #61dafb;
  border-radius: 25px;
  /* Adjust the border-radius for more roundness */
  width: 500px;
  /* Adjust the width as needed */
  font-size: 16px;
  margin-right: 10px;
}

.search-icon {
  font-size: 24px;
  cursor: pointer;
  color: #61dafb;
}